.list {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  text-align: center;
}

.list_li {
  width: 130px;
  height: 200px;
  border: 3px black solid;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  p {
    font-size: 18px;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }
}
